body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}

h3 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 30px 0 0 0;
    position: relative;
    top: 10px;
}

h6 {
    color: #ffffff;
    
    font-weight: bold;
}
hr {
    margin: 5px;
}

.lacity {
    font-family: "Tangerine", "Times New Roman", Times, serif;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    left: 33px;
    top: 20px;
}

.smol {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

.smol a {
    text-decoration: none;
}

.smol a:hover {
    text-decoration: underline;
    color: mediumvioletred;
}

.temp {
    text-align: left;
}

.minmax {
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    margin: 0;
    padding: 0 0 15px;
}

.days {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 10px 0 10px;
}
.days:hover {
    background: #fc82bb;
}

.tenki {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.power {
    color: #fabbec;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.card {
    background: linear-gradient(#fff197, #ffb5d7);
    border-color: #fc82bb;
    box-shadow: 7px 5px 5px lightgray;
}

.pinkbar {
    border-color: #fabbec;
}

.pink {
    background: linear-gradient(#ffb5d7, #fabbec);
    border-color: #fc82bb;
    border-radius: 10px;
    box-shadow: 7px 5px 5px lightgray;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline;
    margin: 0 0 0 10px;
    padding: 5px 15px;
    transition: all 300ms ease-in-out;
}

.pink:hover { 
    background: #fff197;
    color: #fff;
    cursor: grab;
}