body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}

h3 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    display: inline;
    margin: 0;
    padding: 30px 0 0 0;
    position: relative;
    text-align: center;
    top: 10px;
}

h6 {
    color: #ffffff;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    padding: 10px 0 0 0;
    position: relative;
    left: 10px;
}
hr {
    margin: 5px;
}

.lacity {
    font-family: "Tangerine", "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    left: 15px;
    top: 5px;
}

.units {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 10px;
    top: -5px;
    text-align: center;
}

.units a {
    text-decoration: none;
    color: mediumvioletred;
}

.units a:hover {
    text-decoration: underline;
    color: mediumvioletred;
}
.smol {
    font-size: 13px;
    color: #ffffff;
    text-align: left;
}
.smol:first-letter {
    text-transform: capitalize;

}
.temp {
    text-align: center;
    position: relative;
    top: 12px;
    left: 15px;
}
.icon {
    position: relative;
    left: 20px;
}
.xsmol {
    font-size: 11px;
    color: #ffffff;
    line-height: 16px;
    padding-top: 7px;
    text-align: center;
}

.minmax {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0 0 15px;
}

.days {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 10px 0 10px;
}
.days:hover {
    background: #fc82bb;
}

.tenki {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.power {
    color: #fabbec;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    position: absolute;
}
.power a {
    color:#fabbec
}
.card {
    background: linear-gradient(#fff197, #ffb5d7);
    border-color: #fc82bb;
    box-shadow: 7px 5px 5px lightgray;
    padding: 10px 0 0 0;
}

.pinkbar {
    border-color: #fabbec;
}

.pink {
    background: linear-gradient(#ffb5d7, #fabbec);
    border-color: #fc82bb;
    border-radius: 10px;
    box-shadow: 7px 5px 5px lightgray;
    color: #ffffff;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 0 0 10px;
    padding: 4px 13px;
    transition: all 333ms ease-in-out;
}

.pink:hover { 
    background: linear-gradient(#ffb5d7, #fff197);
    color: #fff;
    cursor: grab;
}